.aboutContainer {
  position: relative;
}

.aboutContainer::before,
.aboutContainer::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #dbe7de;
  position: absolute;
  left: 0;
  border-radius: 2px;
}
.aboutContainer::before {
  top: 0;
}
.aboutContainer::after {
  bottom: 0;
}

.aboutGrid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 2.5rem;
  align-items: center;
  min-height: 60vh;
}

.aboutLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aboutRight {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutContainer {
    padding: 32px;
  }
  
  .titleSection {
    margin-top: -100px;
    margin-bottom: 2rem;
  }
  
  .header {
    color: var(--title-text-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }
  
  .description {
      color: #000;
      text-align: justify;
      margin-top: 0;
      margin-bottom: -30px;
    }
  
  .section {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
  }
  
  .sectionTitle {
    color:var(--title-text-color);
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 600;
  }
  
  .sectionContent {
    color: #5a5a5a;
    line-height: 1.6;
    text-align: justify;
    margin-top: 0;
  }
  
  @media (max-width: 600px) {
      .aboutContainer {
        padding: 25px;
      }
      .aboutGrid {
        display: block;
      }
      .aboutRight {
        gap: 1.5rem;
      }
      .header {
        font-size: 2.5rem;
      }
  }