
.page {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;

}

.textContent {
    padding: 10vh;
}


.textContent p{
    padding-top: 1vh;
    max-width: 1000px;
    text-align: justify;
}

.textContent h2{
color: var(--title-text-color);
}
.title {
    justify-self: center;
    color: var(--title-text-color);
    text-align: center;
    padding-bottom: 5vh;
    border-bottom: solid 3px #dbe7de;
}

.visContainer {
    padding-top: 5vh;
    color: black;
    display: flex;
    align-items: center;
}

.visContainer *{
    color: black;
}

.tmContainer {
    display: flex;
    flex-direction: column;
    align-items: centers;
    width: 60vw;
    max-width: 600px;
    padding: 5vh;
    background: #f2f9f6; 
    border: 1.5px solid #e0e0e0; 
    border-radius: 16px; 
    box-shadow: 0 2px 12px 0 rgba(37,122,62,0.05);
}

/* Head container*/
.headContainer {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    max-width: 500px;
    padding-bottom: 3vh;
}
.headContainer p{
    font-weight: bold;
    
}
.headContainer button {
    border: none;
    border-radius: 0.5vh;
    padding: 0.5vh;
    background-color: var(--background);
}

/* image loader */

.imageContainer{
    position: relative;
    display: flex;
    justify-content: center;
    height: 25vw;
    width: 25vw;
}
.imageLoader {
    object-fit: contain;
    height: 25vw;
}

.imageOverlay {
    object-fit: contain;
    position: absolute;
    height: 25vw;
    transform: rotate(90deg);
    top: 0;
    left: 0;
    pointer-events: "none";
}

/* Radio button styles*/
.radioContainer{
    padding-top: 5vh;
    display: flex;
    justify-content: space-around;
}

.radioLabel {
    padding: 0.5vh;
    border-radius: 0.5vh;
}
.radioLabel:hover { 
    background:#2ecc40; 
    color: var(--background); 
}

.radioOption {
    display: none;
}
.radioOption:checked + .radioLabel {
    background: #d9f9df;
    color: #0d5315;
}

/* Option container */
.optionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 500px;
    gap: 1vh;
    padding-top: 1vh;
}


/* Timeline */
.dateContainer {
 display: flex;
 align-items: center;
 gap: 1vh;
}
.dateContainer p{
    font-size: small;
}
/* Timeline buttons */
.tmIcon{
      width: 24px;
  height: 24px;
  color: red;
}

.buttonContainer{
    display: flex;
    gap: 1vh;
}

.tmButton {
    border: none;
    border-radius: 0.5vh;
    padding: 0.2vh;
    display: flex;
    align-items: center;
}

.tmButton:hover {
    background: #2ecc40; 
}


.tmButton:hover > .iconImage {
    color: white;
}