.buttonContainer {
  display: flex;
  align-self: -100px;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 15px 20px;
  background-color: var(--btn-primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: 550;
}

.btn {
  color: var(--foreground);
  border-color: var(--text-secondary-color);
  padding: 13px 17px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: 550;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
      background-color: var(--btn-primary-color-hover);
    }
}


@media (max-width: 600px) {
  .navbar {
    padding: 15px 20px;
    background-color: var(--btn-primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: 550;
  }

  .btn {
    color: var(--foreground);
    border-color: var(--text-secondary-color);
    padding: 13px 17px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: 550;
  }

  @media (hover: hover) and (pointer: fine) {
    .btn:hover {
      background-color: var(--btn-primary-color-hover);
    }
  }
}



