
.btn{
    padding: 15px 20px;
    background-color: var(--btn-primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: 550;
}


@media (hover: hover) and (pointer: fine) {
    .btn:hover {
        background-color: var(--btn-primary-color-hover);
    }
}