@media (max-width: 600px) {

    .landingPage{
        color: var(--background);
        background-color: transparent;
        /* background-color: rebeccapurple; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        padding: 15px 20px;
        text-align: left;
        font-weight: 500;
        margin-top: 40%;
    }

    .landingPage p{
        margin-top: 10%;
        
    }

    .landingPage h1{
        font-weight: 700;
        margin-top: -80px;
        /* margin-bottom: 20px; */
        text-align: left;
        /* text-align: center; */

    }
    
    .textfield{
        color: var(--description-text-color);
        background-color: transparent;
        border-color: var(--text-secondary-color);
        padding: 13px 17px;
        cursor: pointer;
        /* font-size: 15px; */
        text-align: left;
        font-weight: 550;
    }

    .textfield h1{
        color: var(--title-text-color);
        
    }

    
    }