@media (max-width: 600px) {

    .landingPage{
        color: var(--background);
        /* color: red; */
        background-color: transparent;
        background-color: rebeccapurple;

        padding: 15px 20px;
        text-align: center;
        font-weight: 550;
    }

    .landingPage h1{
        font-weight: 700;
        /* margin-bottom: 20px; */
        text-align: center;
    }
    
    .textfield{
        color: var(--description-text-color);
        background-color: transparent;
        border-color: var(--text-secondary-color);
        padding: 13px 17px;
        cursor: pointer;
        /* font-size: 15px; */
        text-align: center;
        font-weight: 550;
    }

    .textfield h1{
        color: var(--title-text-color);
        
    }

    
    }