.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  color: white;
}

.btn{
    display: flex;
    justify-content: flex-start;
  }

/*s*/
.landingTextfield{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 10px;
    z-index: 1;
    margin-left: 5%;
    /* background-color: aqua; */

  }

.landingImage{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.567); 
  }

  .page {
    padding: 0px;
    padding-top: 100px;
    gap: 0px;
    display: grid;
    /* 80px es de la primera fila, en este caso la nav, el 1f el resto y el footer solo un 30px de alto */
    grid-template-rows: 70px 1fr 30px;
    overflow: hidden;
    
  }

  .navbar{
    grid-row-start: 1;
  }

  .main {
    position: relative; 

    
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
    

  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 5%;
    
  }

  a.secondary {
    min-width: auto;
  }



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {

  .btn{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
  }

  .landingTextfield{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

  }

  .landingImage{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
  }


  .page {
    padding: 0px;
    padding-top: 100px;
    gap: 0px;
    display: grid;
    /* 80px es de la primera fila, en este caso la nav, el 1f el resto y el footer solo un 30px de alto */
    grid-template-rows: 70px 1fr 30px;
    overflow: hidden;
  }

  .navbar{
    grid-row-start: 1;
  }

  .main {
    margin-top: 0;
    position: relative; 
    
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
    margin-left: 5%;
  }

  a.secondary {
    min-width: auto;
  }


  

}

